{{#partial "styles"}}
    <link rel="stylesheet" href="/css/index.css">
{{/partial}}

{{#partial "content"}}
    <div class="container mt-5 text-center w-75 align-items-center home" id="home">
        <div class="container text-center">
            <div class="row mt-5">
                <h2>This is a wildlife tracking application</h2>
                <br>
                <br>
                <p>Add Animals<br>Track them Easily</p>
            </div>
            <div class="row mt-5 ">
                <div class="col mb-1">
                    <a href="/animals-add"><button type="button" class="btn">Add Sighting</button></a>
                </div>
            </div>
        </div>
    </div>
{{/partial}}
{{>layout.hbs}}